td.header {
	color: Brown;
}
th.title {
	background-color: Brown;
}
th.information {
	background-color: Brown;
}
td.information {
	border-color: Brown;
}
td.border {
	border-color: Brown;
}
td.script {
	border-color: Brown;
}
.emp {
	color: Brown;
}
